@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.nav-bar {
  display: flex;
  font-family: 'Roboto', sans-serif;
  color: aliceblue;
  background-color: rgb(115, 120, 123);
  padding: 20px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}


.nav-items {
  display: flex;
  list-style: none;
  margin-right: auto;
  padding: 10px;
}

.nav-items > li {
  padding: 10px;
  
}

.main--content {
  font-family: 'Roboto', sans-serif;
  padding: 20px;
  letter-spacing: -0.05em;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.main--title {
  align-self: center;

}

.main--text {
  align-self: center;

}

.boats {
  size: 600px;
  align-self: center;
}

body {
  background-color: rgb(180, 190, 195);
}